.para1 {
    animation: rotation 3s infinite;
    color:crimson;
    background-color:blue;
    background-image: url('th.jpg');
    background-size:cover ;
    background-repeat: no-repeat;
    font-size: 50px; 
    padding: 50px;
    border: solid 5px darkorange;
    box-shadow: 10px 10px 10px black;
    margin: 50px 0px;
    border-radius: 50px;
    text-shadow:0 0 15px orange ;
    width: min-content
     

}


.para2 {
    color:crimson;
}

.conteneur {
    width:90% ;
    height: 500px;
    border: solid 5px black;
    display:flex ;
    flex-direction:row ; 
    justify-content:space-around;
    align-items:center ; 
    /* flex-shrink: ; */
    
}

#rouge{                
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    flex-grow:1 ;
}
#bleu{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 255);
    flex-grow:2 ;
}
#jaune{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 0);
    flex-grow:1 ;
}

a {
    text-shadow: 5px 5px 15px rgb(141, 1, 99);
    color: rgb(255, 1, 255);
    transition: 2s;
    font-family: verdana,sans-serif;
}

.para1:hover{
    animation: rotation 2s 1;
    animation: scale 1s 1;
}

a:hover{
    color:rgb(230, 70, 70);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes scale {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.1)
    }
}

